.box {
  width: 270px;
  height: 25px;
  border: 1px solid #999;
  font-size: 16px;
  color: #1c87c9;
  background-color: none;
  border-radius: 5px;
  
}

.box4 {
  width: 150px;
  height: 25px;
  border: 1px solid #999;
  font-size: 16px;
  color: #1c87c9;
  background-color: none;
  border-radius: 5px;
}



.box3 {
  width: 130px;
  height: 25px;
  border: 1px solid #999;
  font-size: 16px;
  color: #1c87c9;
  background-color: none;
  border-radius: 5px;
}

.submit1{
    height:25px;
    width:80px;
}
