

<h5>Missed File Report</h5>


<div class="container">
  <div class="row">
    <div class="col">
      <span>Complex&ensp;</span>

      <select class="box">
        <option>Coffee</option>
        <option>Tea</option>
        <option>Juice</option>
        <option selected>Select Complex</option>
      </select>


    </div>
    <div class="col">
      <span>Location&ensp;</span>

      <select class="box">
        <option>Coffee</option>
        <option>Tea</option>
        <option>Juice</option>
        <option selected>Select Location</option>
      </select>
    </div>
    <div class="col">
      <span>Part Source&ensp;</span>

      <select class="box4">
        <option>Coffee</option>
        <option>Tea</option>
        <option>Juice</option>
        <option selected>Select Part Source</option>
      </select>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col">
      <span>Year Month&ensp;</span>

      <select class="box4">
        <option>Coffee</option>
        <option>Tea</option>
        <option>Juice</option>
        <option selected>Select Year Month</option>
      </select>


    </div>
    <div class="col">
      <span>Sort By&ensp;</span>

      <select class="box3">
        <option>Coffee</option>
        <option>Tea</option>
        <option>Juice</option>
        <option selected>12 Mo Hits</option>
      </select>
    </div>
    <div class="col" >
      <input class="submit1" type="submit">
    </div>
  </div>
</div>
